
* {
  padding:0%;
  margin: 0%;
  color: black;
}
  body {
    background-color:rgb(176, 238, 114);
}
#navigation {
  background-color:white;
  height: 50px;
}
#logo {
  color:rgb(82, 207, 82)
  
  
}
#div {
  background-color: rgb(243, 161, 9);
}
a {
  margin-right: 200px;
  height: 20px;
}
#riya {
    background-color:cornflowerblue
    
}
img {
  filter: sepia(500%) saturate(500%) hue-rotate(0deg);
  
}
form {
  text-align: center;
}


  

